.logo {
  width: 200px;
  margin-right: 50px;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0);
  margin-right: 20px;
}
.navbar {
  margin-top: 20px;
  margin-bottom: 40px;
}

img {
  width: 100%;
}
