.logo {
  width: 200px;
  margin-right: 50px;
  margin-bottom: 20px;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0);
  margin-right: 15px;
}
.navbar {
  margin-top: 20px;
  margin-bottom: 40px;
}

img {
  width: 100%;
  padding-left: 15px;
}
.title {
  margin-bottom: 30px;
}
.checkout {
  display: flex;
  justify-content: space-between;
}
.checkout-price {
  font-size: 25px;
  margin: 0;
  font-weight: 700;
}
.card {
  border: none;
}
