.modal-body {
  display: flex;
  padding: 0px 20px 20px 20px;
}
.modal-content {
  border-radius: 1rem;
}
.pizzas-choices {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.pizzas-choices h6 {
  text-align: center;
}
.pizzas-choices-header h4,
p {
  margin: 0;
}
.pizza-choices-size {
  margin-top: 40px;
  text-align: center;
}
.pizza-choices-dough {
  margin-top: 20px;
  text-align: center;
}
.modal-price {
  font-size: 28px;
  font-weight: 700;
}
.pizzas-img {
  display: flex;
  justify-content: center;
}
button.close {
  display: flex;
  justify-content: flex-end;
}
.close {
  margin-right: 7px;
}
.checkout-modal {
  margin-top: 50px;
}
.bi.bi-cart2 {
  margin-top: -4px;
}
/* RADIO CSS */
.group {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
input[type="radio"]:disabled + label:before {
  border: 1px solid lightgrey;
}
input[type="radio"]:disabled + label {
  color: lightgrey;
}

label {
  position: relative;
  margin-right: 1em;
  padding-left: 2em;
  padding-right: 1em;
  line-height: 2;
  cursor: pointer;
  z-index: 1;
}
label:before {
  box-sizing: border-box;
  content: " ";
  position: absolute;
  top: 0.3em;
  left: 0;
  display: block;
  width: 1.4em;
  height: 1.4em;
  border: 1px solid grey;
  border-radius: 0.25em;
  z-index: -1;
}

input[type="radio"] + label::before {
  border-radius: 1em;
}

input[type="radio"]:checked + label {
  padding-left: 1em;
}
input[type="radio"]:checked + label:before {
  top: 0;
  width: 100%;
  height: 2em;
  background: lightgrey;
}

/* Transition */
/* label,
label::before {
  -webkit-transition: 0.25s all ease;
  transition: 0.25s all ease;
} */
